<div class="container" ng-controller="ChangeNewPasswordCtrl as ctrl">

    <div class="col-lg-8 col-sm-12 col-sm-offset-2">
        <div class= form-overlay-container>
        <br>
        <font color ='white'><b>Change New Password</b></font><br>
        <br>
        
        {{ctrl.emailAddress}}

        <br>
        
        <form name="changePasswdForm" ng-submit="ctrl.changePassword()" novalidate autocomplete="off">
            <div class="form-group input-field col s6" >
                <input type="password" class="form-control" ng-model="ctrl.NewPassword"
                       name="NewPassword" placeholder="New Password" 
                       minlength="8"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
            </div>

            <div class="form-group input-field col s6" >
                <input type="password" class="form-control" ng-model="ctrl.ConfirmPassword"
                       name="ConfirmPassword" placeholder="Confirm Password" 
                       minlength="8"
                       compare-to="ctrl.NewPassword"
                       ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"
                       required>
            </div>
            
            <button type="submit" ng-disabled="changePasswdForm.$invalid" class="btn btn-default btn-lg">Change</button>
        </form>
    </div>
</div>
<div class="col-lg-8 col-sm-12 col-sm-offset-2">
        <div style="margin: 100px 0px 340px;"></div>
    </div>
</div>