<div class="container" ng-controller="ResetPasswordCtrl as ctrl">

        <div class="col-lg-8 col-sm-12 col-sm-offset-2">
        <br>
        <flash-message
                duration="5000"
                show-close="true"
                on-dismiss="myCallback(flash);"
        ></flash-message>
        <!-- RESET PASSWORD FORM -->
    <div class= form-overlay-container>
        <form name="resetPasswdForm" ng-submit="ctrl.resetPassword()" novalidate autocomplete="off">
            <div class="form-group input-field col s6" ng-class="{ 'has-error': resetPasswdForm.email.$touched && resetPasswdForm.email.$invalid }">
                <input type="email" class="form-control" ng-model="ctrl.user.email"
                       placeholder="Email address" name="email" required>
                <div class="help-block"
                     ng-messages="resetPasswdForm.email.$error" ng-if="resetPasswdForm.email.$touched">
                    <span class="help-inline" ng-message="required">Email Address is mandatory</span>
                    <span class="help-inline" ng-message="email">Email Address is invalid</span>
                </div>
            </div>
            
            <button type="submit" ng-disabled="resetPasswdForm.$invalid" class="btn btn-default btn-lg">Reset</button>
        </form>

        <hr>
    
        <p><font color="white">
            Need an account? <a ui-sref="SignUp">Signup</a></font></p>
        <p><font color="white">
            Already have an account? <a ui-sref="SignIn">SignIn</a></font></p>
    </div>
</div>

<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 100px 0px 480px;"></div>
</div>


</div>