<div class="container" data-ng-controller="ProfileCtrl as profileCtrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <!-- Profile details -->
        <div class="course-overlay-container">
            <h4>The Upgrad8 School</h4>
            <hr>

            <div class="course-name">
                <p>MEAN STACK (20-Lessons)</p>
            </div>

            <div class="course-subhead3">
                <p>Course Introduction</p>
            </div>

            <div class="course-desc">
                <p>The term MEAN stack refers to a collection of JavaScript based technologies used to develop web applications.
                    MEAN is an acronym for MongoDB, ExpressJS, AngularJS and Node.js. From client to server to database,
                    MEAN is full stack JavaScript. This article explores the basics of the MEAN stack and shows how to create
                    a simple bucket list application.</p>
            </div>


            <div class="course-subhead">
                <p>LESSON 0: MEAN Stack App Introduction</p>
            </div>

            <div class="course-subhead2">
                <p>Lesson Score: 10 points</p>
            </div>

            <div class="course-video">
                <center>
                    <iframe width="350" height="250" src="https://www.youtube.com/embed/-gd73iczlS8" frameborder="0" allowfullscreen></iframe>
                </center>
            </div>

            <div class="course-subhead3">
                <p>Lesson Learning Outcome</p>
            </div>

            <div class="course-desc2">
                <p>Overview of our MEAN Stack App</p>
            </div>

            <div class="L-button">
                    <span class="left">
                            <button type="submit" class="btn btn-default btn-xs" disabled ="">
                           <a ui-sref=""><i class="fa fa-arrow-circle-o-left" style="color:#C0A105" aria-hidden="true"></i></a>
                   </button>
                   <div class="L-button-text">
                                <p>Previous Lesson</p>    
                </div>
                </span>
                </div>
        <div class="R-button">
            <span class="right">
                    <button type="submit" class="btn btn-default btn-xs" disabled ="">
                   <a ui-sref=""><i class="fa fa-arrow-circle-o-right" style="color:#C0A105" aria-hidden="true"></i></a>
           </button>
           
        <div class="R-button-text">
                        <p>Next Lesson</p>    
                </span><hr>
        </div>
        </span>
        </div>
        <hr><hr>

        </div>
    </div>
</div>