<div class="container" ng-controller="ProfileCtrl as ctrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class=form-overlay-container>
            <h4>Badges & Achievements</h4>
            <div class=badges-container>
                <div class="badges-header">
                    <p>Earn Badges & Achievements To Improve Your Score</p>
                </div>
                <hr>
                <table>
                    <tr>
                        <h6>Full Stack Developer</h6>
                        <h6>(MEAN Stack)</h6>
                        <center>
                            <img src="assets/images/badges/fullstack_badge.png" alt="fullstack_badge" style="width:250px">
                        </center>
                        <center>
                            <img src="assets/images/badges/meanstack_group.png" alt="mean_stack" style="height:150px">
                        </center>
                        <p>Collect these badges above to unlock achievement</p>
                        <br>
                        <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-sm">
                            <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                            <a ui-sref="educators">Find Out How</a>
                        </button>
                    </tr>
                    <hr>
                    <hr>

                    <tr>
                        <h6>The Songwriting Apprentice</h6>
                        <center>
                            <img src="assets/images/badges/songwriting_badge.png" alt="songwriter_badge" style="width:180px">
                        </center>
                        <center>
                            <img src="assets/images/badges/songwriter_group.png" alt="songwriter_group" style="width:350px">
                        </center>
                        <p>Collect these badges above to unlock achievement</p><br>
                        <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-sm">
                            <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                            <a ui-sref="educators">Find Out How</a>
                        </button>
                    </tr>
                    <hr>
                    <hr>

                </table>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 20px 0px 20px;"></div>
</div>