<div class="container" ng-controller="ProfileCtrl as ctrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class="form-overlay-container" align="center">   
                <span class="right">
                        <button type="submit" ng-click="ctrl.editProfile()" class="btn btn-default btn-xs">
                       <a ui-sref="ClaimRewards"><i class="fa fa-trophy" style="color:#C0A105" aria-hidden="true"></i></a>
               </button>
               <div class="rewards-availpoints">
                    <p>300 Available Points</p>
                </div>
           </span><hr><hr><hr>
                <h4>REWARDS CLAIMED</h4>

            <div class=rewards-container>
                <table>
                    <tr>
                        <center>
                            <img src="assets/images/logo.png" alt="" style="width:150px">
                        </center>
                        <br>
                        <div class="rewards-desc">
                            <p>1-month The Upgrad8 School Subscription</p>
                        </div>
                        <div class="rewards-points">
                            <p>Claimed On 27 Oct 2017</p>
                        </div>
                    </tr>
                    <hr>
                    <tr>
                        <center>
                            <img src="assets/images/badges/nus-iss-logo.png" alt="" style="width:150px">
                        </center>
                        <br>
                        <div class="rewards-desc">
                            <p>$300 Course Rebate for NUS-ISS Stackup Full Stack Foundation Course</p>
                        </div>
                        <div class="rewards-points">
                            <p>Claimed On 27 Oct 2017</p>
                        </div>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 20px 0px 150px;"></div>
</div>