<div class="container" data-ng-controller="editProfileCtrl as editprofileCtrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
<!-- Profile details -->
        <div class= form-overlay-container>
            <div class = "profile-photo">
                <center><img src="assets/images/badges/justin.png" alt="Image" style ="width:150px"></center>
            </div>

            <div class="profile-name">
                <p>{{editprofileCtrl.localProfile.firstName}} {{editprofileCtrl.localProfile.lastName}} </p> 
            </div>
        <form name="editProfile" ng-submit="editprofileCtrl.editProfile()" novalidate autocomplete="off">
            <div class="bio-header">
                <p>Job Title</p>
            </div>
            <div class="profile-title">
                <!-- <p>{{editprofileCtrl.localProfile.userTitle}}</p> -->
                    <input type="text" 
                    class="form-control" 
                    ng-model="editprofileCtrl.localProfile.userTitle"
                    name= "newTitle" 
                    maxlength="50"> 
            </div>
                

            <div class="bio-header">
                <p>About Me</p>
            </div>

            <div class="profile-bio">
                <textarea name="newBio" 
                rows="10" 
                ng-model="editprofileCtrl.localProfile.userBio " 
                title="Title" 
                maxlength="500"></textarea>
            </div>
           
           <center><button type="submit" class="btn btn-default btn-lg">Update Profile</button></center> 
           
        </form>
    </div>

    <!-- profile details -->
</div>



    </div>
               
            
    <div class="col-lg-8 col-sm-12 col-sm-offset-2">
        <div style="margin: 40px 0px 215px;"></div>
    </div>




