<div class="container main" data-ng-controller="ProfileCtrl as ctrl">

    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class="form-overlay-container">
            <h4>Educators & Partners</h4>
            <div class="badges-container">
                <table>
                    <tr>
                        <div class="educator-name">
                            <p>The Upgrad8 School</p>
                        </div>
                        <center>
                            <img src="assets/images/logo.png" alt="" style="width:150px">
                        </center>
                        <br>
                        <div class="educator-desc">
                            <p>The Upgrad8 School was founded by Justin Png in 2017. Today, it has become the world's premier
                                educational institution for Accredited Learning and offers a wide range and variety of courses,
                                seminars and other offline and online structured learning programmes. </p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-sm">
                            <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                            <a ui-sref="Upgrad8School">Find Out More</a>
                        </button>
                    </tr>
                    <tr>
                        <div class="educator-name">
                            <p>NUS-ISS</p>
                        </div>
                        <center>
                            <img src="assets/images/badges/nus-iss-logo.png" alt="" style="width:250px">
                        </center>
                        <br>
                        <div class="educator-desc">
                            <p>Established in 1981, the Institute of Systems Science at National University of Singapore (NUS-ISS)
                                provides graduate education, executive education programmes, consultancy and research services.
                                To date, over 111,000 infocomm & business professionals, 5,800 corporate customers and 5,100
                                post-graduate alumni have benefitted from NUS-ISS’ suite of services. </p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-xs">
                            <a href="https://www.iss.nus.edu.sg" target="_blank">Find Out More</a></button>
                    </tr>
                    <hr>
                    <tr>
                        <div class="educator-name">
                            <p>BOOKS READING</p>
                        </div>
                        <center>
                            <img src="assets/images/badges/bookreading.jpg" alt="" style="width:120px">
                        </center>
                        <br>
                        <div class="educator-desc">
                            <p>Reading can be rewarding. Any title, any genre, any thickness. Proof your reading completion by submitting your book review
                                through our submission page and we will top it up with points! </p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-xs">
                            <a href="http://eresources.nlb.gov.sg/eReads/" target="_blank">Start Now!</button>
                    </tr>
                    <hr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 20px 0px 20px;"></div>
</div>

</div>