
<nav class="nav has-shadow" ng-controller="HomePageAppCtrl as ctrl">
  <div class="container">
    <div class="nav-left">
      <!-- <a class="nav-item">
        <img src="/assets/images/logo.png" alt=""/>
      </a>
      <a ui-sref="upgrad8" class="nav-item is-tab is-hidden-mobile">Home</a>
      <a ui-sref="badges" class="nav-item is-tab is-hidden-mobile">Badges</a>
      <a ui-sref="educators" class="nav-item is-tab is-hidden-mobile">Educators</a>
      <a ui-sref="submit" class="nav-item is-tab is-hidden-mobile">Endorsement</a>
    </div> -->
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
      <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="SignIn">About Us</a>
      <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="SignUp">T&Cs</a>
      <!-- <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="MyAccount">My Account</a>
      <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="MyFriends">My Friends</a>
      <a class="nav-item is-tab" ng-show="ctrl.isUserLogon" ui-sref="MyRewards">My Rewards</a> -->
    </div>
  </div>
</nav>