<div class="container main" data-ng-controller="ProfileCtrl as ctrl">

    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class=form-overlay-container>
            <h4>My Friends</h4>
            <div class=badges-container>
                <table>
                    <tr>
                        <div class="homeview-name">
                            <p>Lynette</p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()">
                            <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                            <a ui-sref="ViewLynette">
                                <center>
                                    <img src="assets/images/badges/lynette.png" alt="" style="width:150px">
                                </center>
                                <br>
                            </a>
                        </button>

                        <div class="homeview-score">
                            <p>Score: 3555 points</p>
                        </div>
                    </tr>
                    <hr>

                    <tr>
                        <div class="homeview-name">
                            <p>Alex</p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()">
                            <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                            <a ui-sref="ViewAlex">
                                <center>
                                    <img src="assets/images/badges/alex.png" alt="" style="width:150px">
                                </center>
                                <br>
                            </a>
                        </button>
                        <div class="homeview-score">
                            <p>Score: 3200 points</p>
                        </div>
                    </tr>
                    <hr>
                    <tr>
                        <div class="homeview-name">
                            <p>Justin</p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()">
                            <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                            <a ui-sref="MyAccount">
                                <center>
                                    <img src="assets/images/badges/justin.png" alt="" style="width:150px">
                                </center>
                                <br>
                            </a>
                        </button>
                        <div class="homeview-score">
                            <p>Score: 1800 points</p>
                        </div>
                    </tr>
                    <hr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 20px 0px 20px;"></div>
</div>

</div>