<div class="container" ng-controller="ProfileCtrl as ctrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class="form-overlay-container" align="center">   
                <span class="right">
                        <button type="submit" ng-click="ctrl.editProfile()" class="btn btn-default btn-xs">
                       <a ui-sref="ClaimRewards"><i class="fa fa-trophy" style="color:#C0A105" aria-hidden="true"></i></a>
               </button>
               <div class="rewards-availpoints">
                    <p>1800 Available Points</p>
                </div>
           </span><hr><hr><hr>
                <h4>U8 REWARDS PAGE</h4>

            <div class=rewards-container>
                <table>
                        <div class="rewards-intro">
                                <p>*Each score point earns you 1 rewards point.*</p>
                                <p>*Unlock Badges and Achievements to receive special rewards.*</p>
                                    </div>
                    <tr>
                        <center>
                            <img src="assets/images/logo.png" alt="" style="width:150px">
                        </center>
                        <br>
                        <div class="rewards-desc">
                            <p>1-month The Upgrad8 School Subscription</p>
                        </div>
                        <div class="rewards-points">
                            <p>1,500 points</p>
                        </div>
                        <button type="button" ng-click="ctrl.editProfile()" class="btn btn-default btn-sm" onclick="return confirm('Purchase for 1,500 points?');">
                            <a ui-sref="">Purchase</a>
                        </button>
                    </tr>
                    <hr>
                    <tr>
                        <center>
                            <img src="assets/images/logo.png" alt="" style="width:150px">
                        </center>
                        <br>
                        <div class="rewards-desc">
                            <p>3-month The Upgrad8 School Subscription</p>
                        </div>
                        <div class="rewards-points">
                            <p>4,000 points</p>
                        </div>
                        <button type="button" class="btn btn-default btn-sm" disabled="!myForm.number.$valid" >
                            <a ui-sref="">Purchase</a>
                        </button>
                    </tr>
                    <hr>
                    <tr>
                        <center>
                            <img src="assets/images/badges/nus-iss-logo.png" alt="" style="width:150px">
                        </center>
                        <br>
                        <div class="rewards-desc">
                            <p>$300 Course Rebate for NUS-ISS Stackup Full Stack Foundation Course</p>
                        </div>
                        <div class="rewards-points">
                            <p>Achievement Reward for completion of NUS-ISS Coder In You Course</p>
                        </div>
                        <button type="button" class="btn btn-default btn-sm" onclick="return confirm('Claim Reward?');">
                            <a ui-sref="">Claim</a>
                        </button>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="col-lg-8 col-sm-12 col-sm-offset-2">
    <div style="margin: 20px 0px 20px;"></div>
</div>