<div class="container" ng-controller="SubmitCtrl as ctrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <div class="form-overlay-container">
            <div class="profile-name">
                <p>Submit Your Achievement</p>
                <hr>
            </div>
            <div class="submit-welcome-msg">
                <p>Congratulations Justin Png! Tell us what you have achieved.
                    <p>
            </div>
            <form name="Submit" ng-submit="ctrl.Submit()" novalidate autocomplete="off">
                <!-- Title of Course Completed Field -->
                <div class="submit-title">
                    <p>What Course/Book Have You Completed?</p>
                </div>
                <!-- need to double check on the ng-model -->
                <div class="submit-field">
                    <textarea name="" rows="10" ng-model="ctrl.Submit.courseTitle " title="courseTitle" maxlength="100" placeholder="e.g. Full Stack Foundation, Harry Potter, Lords of The Rings, etc "></textarea>
                </div>
                <hr>

                <!-- Which Academy Field -->
                <div class="submit-title">
                    <p>From Which Academy/Library Did You Complete This Course Or Borrowed This Book?</p>
                </div>

                <div class="submit-field">
                    <textarea name="" rows="10" ng-model="ctrl.courseAcademy " title="courseAcademy" maxlength="100" placeholder="e.g. NUS-ISS, NLB(eREADS), BookCat, etc"></textarea>
                </div>
                <hr>
                <!-- Type Of Education Field -->
                <div class="submit-title">
                    <p>Type Of Course/Book?</p>
                </div>

                <div class="submit-field">
                    <textarea name="" rows="10" ng-model="ctrl.courseType " title="courseType" maxlength="100" placeholder="e.g. Classroom, Distance Learning, Online, Fiction, Non Fiction,etc"></textarea>
                </div>
                <hr>

                <div>
                    <div>
                        <div class="submit-title">
                            <p>Upload Certificate/Book Review</p>
                        </div>
                        <hr>
                        <!-- Image Upload File -->
                        <input type="file" ngf-select="" ng-model="ctrl.picFile" name="file" ngf-accept="'image/*'" required="">
                        <br>
                        <img ngf-src="ctrl.picFile" class="thumb">
                        <span class="progress" ng-show="ctrl.picFile.progress >= 0">
                            <div style="width:{{ctrl.picFile.progress}}%" ng-bind="ctrl.picFile.progress + '%'" class="ng-binding"></div>
                        </span>
                        <br>
                        <center>
                            <button type="submit" ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)" class="btn btn-default btn-lg">Submit for Endorsement</button>
                        </center>

            </form>
            </div>


            </div>



        </div>


        <div class="col-lg-8 col-sm-12 col-sm-offset-2">
            <div style="margin: 40px 0px 25px;"></div>
        </div>