<div class="container main" data-ng-controller="ProfileCtrl as ctrl">
        
            <div class="col-lg-10 col-sm-12 col-sm-offset-1">
                <div class= "form-overlay-container">                  
            <!-- Start of Carousel -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->

                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                
                      <div class="item active">
                        <img src="assets/images/logo.png" alt="" width="400" height="250">
                        <div class="carousel-caption">
                          <!-- <h3>PROMO 1</h3>
                          <p>This is Promo 1</p> -->
                        </div>
                      </div>
                
                      <div class="item">
                        <img src="assets/images/homebanner2.jpg" alt="Chania" width="400" height="250">
                        <div class="carousel-caption">
                          <!-- <h3>PROMO 2</h3>
                          <p>This is Promo 2</p> -->
                        </div>
                      </div>
                    
                      <div class="item">
                        <img src="assets/images/homebanner3.jpg" alt="Flower" width="400" height="250">
                        <div class="carousel-caption">
                          <!-- <h3>PROMO 3</h3>
                          <p>This is Promo 3</p> -->
                        </div>
                      </div>
                
                      <div class="item">
                        <img src="assets/images/homebanner1.jpg" alt="Flower" width="400" height="250">
                        <div class="carousel-caption">
                          <!-- <h3>Promo 4</h3>
                          <p>This is Promo 4</p> -->
                        </div>
                      </div>
                  
                    </div>
            
                  </div> 
                  <!-- End of Carousel -->
    
                    <h4>TOP LEARNERS</h4>
                        <div class = "badges-container">
                        <table>
                            <tr>
                                <div class="homeview-name">
                                    <p>Lynette</p>
                                </div>
                                <button type="button" ng-click="ctrl.editProfile()">
                                        <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                                        <a ui-sref="ViewLynette">
                                        <center><img src = "assets/images/badges/lynette.png" alt="" style ="width:150px"></center><br>
                                        </a></button>
                                    
                                <div class="homeview-score">
                                    <p>Score: 3555 points</p>
                                </div>
                                </tr><hr>
         
                                <tr>
                                <div class="homeview-name">
                                <p>Alex</p>
                                </div>
                                <button type="button" ng-click="ctrl.editProfile()">
                                <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                                <a ui-sref="ViewAlex">
                                <center><img src = "assets/images/badges/alex.png" alt="" style ="width:150px"></center><br>
                                </a></button>
                                <div class="homeview-score">
                                <p>Score: 3200 points</p>
                                </div>
                                </tr><hr>
                                
    
        
                                <tr>
                                <div class="homeview-name">
                                <p>Lionel</p>
                                </div>
                                <button type="button" ng-click="ctrl.editProfile()">
                                        <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                                        <a ui-sref="ViewAlex">
                                        <center><img src = "assets/images/badges/lionel.png" alt="" style ="width:150px"></center><br>
                                        </a></button>
                                   
                                <div class="homeview-score">
                                <p>Score: 3000 points</p>
                                </div>
                                </tr><hr>
        
                                <tr>
                                <div class="homeview-name">
                                <p>Lydia</p>
                                </div>
                                <button type="button" ng-click="ctrl.editProfile()">
                                        <span class="oi oi-account-editProfile" aria-hidden="true"></span>
                                        <a ui-sref="ViewAlex">
                                        <center><img src = "assets/images/badges/lydia.png" alt="" style ="width:150px"></center><br>
                                        </a></button>
                                <div class="homeview-score">
                                <p>Score: 2800 points</p>
                                </div>
                                </tr><hr>
        
                        </table>
         
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-8 col-sm-12 col-sm-offset-2">
                    <div style="margin: 20px 0px 20px;"></div>
                </div>
        
        </div>
        
        
    