.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}

.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
.animate-enter {
    left: 100%;
}
.animate-enter.animate-enter-active {
    left: 0;
}
 
.animate-leave {
    left: 0;
}
.animate-leave.animate-leave-active{
    left: -100%;
}


/* UI-View Container */

.home-background-image{
    background-image: url(/assets/images/background2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* min-height: 300px; */
  
  }

/* Form Style */

  .form-overlay-container{
    margin: auto;
    background-color: #000000;
    border: none;
    opacity: 0.85;
    filter: alpha(opacity=85);
    padding: 30px;

}

.form-control {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

    color: white;
    -webkit-input-placeholder-color : #FFF;
    -moz-placeholder-color: #FFF;
    -ms-input-placeholder-color: #FFF;  
}

/* End of UI View */

/* Homepage */

.homeview-photo{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

}

.homeview-name{
    text-align: center;
    color: #C0A105;
    font-size: 25px;
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 5px;
}

.homeview-score {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

/* End of Homepage */

/* Educators */

.educator-name{
    text-align: center;
    color: #C0A105;
    font-size: 25px;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.educator-subhead {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.educator-video {
    align-self: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

.educator-desc {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

/* Rewards Page */
.rewards-title{
    text-align: center;
    color: #C0A105;
    font-size: 25px;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.rewards-intro{
    text-align: center;
    color: #C0A105;
    font-size: 12px;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.rewards-availpoints {
    text-align: right;
    color: #FFF;
    font-size: 11px;
    /* font-weight: bold; */
    margin-top: 5px;
    margin-bottom: 15px;
}

.rewards-subhead2{
    text-align: left;
    color: #C0A105;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.rewards-desc {
    text-align: center;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    width: 250px;
}
.rewards-points {
    text-align: center;
    color: #C0A105;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
    width: 250px;
}

/* Course Pages */

.course-name{
    text-align: center;
    color: #C0A105;
    font-size: 25px;
    font-weight: bold; 
    margin-top: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.course-subhead {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}
.course-subhead2{
    text-align: center;
    color: #C0A105;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.course-subhead3{
    text-align: left;
    color: #C0A105;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.course-video {
    align-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.course-desc {
    text-align: left;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}

.course-desc2 {
    text-align: left;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 50px;
}

.course-previous-btn {
    text-align: left;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20;
}
.course-next-btn {
    text-align: right;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 20;
}

.course-overlay-container{
    margin: auto;
    background-color: #000000;
    border: none;
    opacity: 0.85;
    filter: alpha(opacity=85);
    padding: 30px; 
        
}

/* Customise default buttons */

.btn-default { 
    background-color: #D14141;
    color:#C0A105;
    border-color: #adadad;
    border-radius: 25px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color:#D14141;
    color: #C0A105;
    border-color: #adadad;
}

.btn-block { 
    background-color: #D14141;
    color:#C0A105;
    border-color: #adadad;
    border-radius: 5px;
}

.btn-block:hover,
.btn-block:focus,
.btn-block:active {
    background-color:#D14141;
    color: #C0A105;
    border-color: #adadad;
}
/* end of buttons */

/* Submit Page */

.submit-welcome-msg{
    text-align: left;
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 10px;
}

.submit-title{
    text-align: center;
    color: #C0A105;
    font-size: 15px;
    font-weight: bold; 
    margin-top: 5px;
    margin-bottom: 5px;
}

.submit-field{
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    margin-bottom: 10px;
}


/* Overlay Container for Badges */
.badges-container{
    color: #FFF;
    text-align: center;
    margin-top: 30px;
}

/* Customise Header */
h4 {
    color: #C0A105;
    text-transform: uppercase;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h6 {
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/* Profile Page Content */
.score-header{
    text-align: center;
    color: #C0A105;
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.profile-score {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}


.profile-photo{
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

}

.profile-name{
    text-align: center;
    color: #C0A105;
    font-size: 20px;
    font-weight: bold; 
    margin-top: 15px;
}

.profile-title{
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    margin-bottom: 15px;
}

.bio-header{
    text-align: left;
    color: #C0A105;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}

.profile-bio{
    text-align: left;
    color: #FFF;
    font-size: 14px;
    margin-bottom: 20px;
}

.profile-badges{
    text-align: center;
    size: 75px, 75px;
    align-content: center;
    margin: 15px 0px 25px;
}

/* end of profile */



/* Badges Page*/

.badges-header{
    text-align: center;
    color: #C0A105;
    font-size: 20px;
    font-weight: bold; 
    margin-top: 15px;
    text-transform: uppercase;
}

.modal-body-overlay{
        margin: auto;
        background-color: #E7E7E7;
        border: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        padding: 20px;    
    }

.modal-form-control {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        color: #D14141;
}

*::-webkit-input-placeholder{
        color:#494949 !important; 
} 

 *::-moz-placeholder{
     color: #494949 !important;
 }
*::-ms-input-placeholder{
    
    color: #494949 !important;  
}

/* Upgrad8 School */

.form-overlay-container2{
    margin: auto;
    background-color: #000000;
    border: none;
    opacity: 0.85;
    filter: alpha(opacity=85);
    padding: 30px;
    /* width: 600px; */
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 1170px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 1170px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 940px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 940px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

/* End Of Upgrad8 School */


/*
Profile Css*/


.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.custom-btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.autoModal.modal .modal-body{
    max-height: 100%;
    overflow-y:hidden;
}


#c{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}