<div class="container" data-ng-controller="ProfileCtrl as profileCtrl">
    <div class="col-lg-10 col-sm-12 col-sm-offset-1">
        <!-- Profile details -->
        <div class=form-overlay-container>
            <div class="score-header">
                <p>SCORE</p>
            </div>

            <div class="profile-score">
                <p>3300 POINTS</p>
            </div>

            <div class="profile-photo">
                    <img src="assets/images/badges/lynette.png" alt="Image">
            </div>

            <div class="profile-name">
                <p>Lynette Augustin </p>
            </div>

            <div class="profile-title">
                <p>Freelance Web Developer</p>
            </div>
            <div class="bio-header">
                <p>About Me</p>
            </div>

            <div class="profile-bio">
                <p>I’m a Florida-native now living in Silicon Valley, interested in entrepreneurship and creating scalable web apps with amazingly great UI/UX. I’m leading product/engineering at Close.io, building a product people love and growing our SaaS business to be something great.Previously I led the engineering team at Quizlet, building study tools that millions of students relied upon.</p>
                <br>

            </div>

            <div class="bio-header">
                <p>My Achievements</p>
            </div>

            <div class="profile-badges">
                <img src="assets/images/badges/Fullstack_badge.png" alt="Image" style="width:200px">
                <!-- <img src="assets/images/badges/Fullstack_badge.png" alt="Image" style="width:150px">
                <img src="assets/images/badges/Fullstack_badge.png" alt="Image" style="width:150px"> -->
            </div>

            <div class="bio-header">
                <p>My Badges</p>
            </div>

            <div class="profile-badges">
                <img src="assets/images/badges/mysql.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/mongodb.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/expressjs.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/angular.png" alt="Image" style="width:80px">
                <img src="assets/images/badges/nodejs.png" alt="Image" style="width:80px">
            </div>
<!-- Add As Friend Button -->
            <div class="add-friend">
                  <center><button type="button" onclick="return confirm('Added As Friend');" class="btn btn-default btn-lg">
                        <span class="oi oi-account-addFriend" aria-hidden="true"></span>
                        <a ui-sref="">Add Me As Friend</a>
                    </button></center>  
                </div>

        </div>
        <!-- profile details -->
    </div>



</div>